@import "compass";

$default-text-shadow-color:rgba(gray, .5);
$body-type:geneva, "bitstream vera sans", arial, helvetica, sans-serif;
$heading-type:"josefin sans std", $body-type;
$body-color:#02303f;

@font-face { font-family:"josefin sans std"; src:url("/fonts/JosefinSansStd-Light.otf") }

* { margin:0; padding:0 }

ol, ul { list-style:none }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display:block;
}

body {
  color:$body-color;
  font:75%/1.5em $body-type;
  padding:1.75em 4em;
  background-color:#fdfdfd;
/*  background-image:url('/images/9_2_grid.png');*/
}

h1 { font-weight:normal; @include text-shadow;
  a { text-decoration:none } }

body > header { width:38em; float:left;
  h1 { font:bold 5em/1.5em $heading-type; letter-spacing:1px } }

header {
  nav { position:absolute; right:4em; top:1.1em }

  + form { margin-top:1.8em;
    label { display:block }
    input[type="search"] { font-size:11px; width:15em;
      .no-inputsearch & {
        @include box-shadow(rgba(black, .25), 0, 1px, 2px, 0, inset);
        border:1px solid #aaaaaa;
        @include border-radius(10px);
        padding:.15em 8px .05em } }
    input[type="submit"] { display:none } } }

body > article { margin-left:1.2em;
  > h1 {
    margin:3.3em 0 1.75em;
    font-size:1.5em;
  } }

.toothin { font-weight:bold }

/* anchors */
a {
  &:link, &:visited { color:inherit }
  &:hover, &:active { /*color:lemonchiffon; */ } }

header h1 a {
  &:active, &:visited { outline:0 none } }

/* movie list */
ol.movies {
  > li { margin-bottom:2em; clear:left; overflow:hidden }
  a { text-decoration:none }
  
  article > a {
    display:block; min-height:50px;

    &:active, &:visited { outline:0 none }
  }
  
  h1, article > a span { font-family:$heading-type; @include text-shadow(rgba(black, .3)) }
  h1 { font-size:2.1em; line-height:1.1em }
  article > a span { font-size:1.3em; line-height:1.5em }

  img {
    border:1px solid #777;
    display:block; width:92px; height:140px;
    float:left; margin-right:24px;
  }
  
  .actions { margin:52px 0 0 116px;
    a {
      display:block; color:#333;
      background-color:#f5f5f5; @include linear-gradient(color-stops(white, #d8d8d8));
      border:1px solid #ddd; @include border-radius;
      margin-top:5px; padding:2px 4px; line-height:11px; width:100px;

      &:hover { color:#fdfdfd; border-color:$body-color; background:$body-color }
      span { display:inline-block; width:9px }
    } } }

/* movie details */
.movie { margin-top:5.4em;
  img { border:1px solid #777; float:left; margin-right:3em }

  h1, header span { font-family:$heading-type }
  h1 {
    font-size:3em; line-height:1em;
    margin:0;
  }

  header {
    span { font-size:1.8em; line-height:2em; @include text-shadow }
    div { margin-top:.5em }
    strong { font-size:1.1em; font-weight:normal; @include text-shadow(#ccc) }
  }
  dl, p, header div { margin-left:225px }
  
  dl { margin-top:3em;
    dt { float:left; margin-right:.5em }
    + a { margin-left:3px }
  }
  p { margin-top:1.5em }
}
