<li>
  <article class="movie">
    <%= link_to movie_path(movie.id) do %>

      <%= movie_poster(movie) %>

      <%= render 'movies/title', :movie => movie %>
    <% end %>
  
    <%= movie_actions(movie) %>
  </article>    
</li>
