<li>
  <article class="movie">
    <%= link_to movie_path(movie) do %>
      <%= movie_poster(movie) %>
    <% end %>

    <%= render 'movies/title', :movie => movie %>
  
    <%= movie_actions(movie) %>
  </article>    
</li>
