<ol class="movies"<%= " style='counter-reset: item #{movies.offset}'" if movies.respond_to? :offset %>>
  <%= render :partial => 'movies/movie', :collection => movies.to_a %>
</ol>

<% unless movie_index_page? %>
  <% if movies.respond_to? :has_more? %>
    <% if movies.has_more? %>
      <div class="pagination">
        <%= link_to "More", "#{request.path}?max_id=#{movies.last_id}", rel: 'next', class: 'more' %>
      </div>
    <% end %>
  <% elsif movies.respond_to? :current_page %>
    <%= will_paginate movies %>
  <% end %>
<% end %>
