<% if movie.original_title and movie.original_title != movie.title %>

  <hgroup>
    <h1>
      <%= link_to_unless movie_show_page?, movie.original_title, movie_path(movie) %>
    </h1>

    <h2>
      <%= link_to_unless movie_show_page?, movie.title, movie_path(movie) %>
    </h2>
  </hgroup>

<% else %>

  <h1>
    <%= link_to_unless movie_show_page?, movie.title, movie_path(movie) %>
  </h1>
  
<% end %>
  
<%= movie_year(movie) %> 
