<% body_class 'about' %>
<article>
  <h1>About this site</h1>
  
  <p>
    Movi.im was created by <a href="/ivana">Ivana</a> &amp; <a href="/mislav">Mislav</a>
    as a place where we could remember movies we watched and those we wanted to watch in future.
  </p>
  <p>
    The <a href="https://github.com/mislav/movieapp">codebase for this site</a> is open source.
  </p>
  
  <h2>Login issues</h2>

  <p>
    Soon you will be unable to log into movi.im due to Mislav's poor decision
    years ago to tie user profiles to their social media accounts on Twitter or Facebook.
  </p>
  <p>
    Since starting this site in 2009 (!), Facebook has changed their API
    policies, resulting in our developer account being revoked and movi.im
    unable to perform logging in via Facebook. More recently, Mislav also
    deactivated his Twitter account, which will unfortunately result in our API
    developer credentials being revoked, essentially ending the feature to log
    in with Twitter.
  </p>
  
  <p>
    I briefly contemplated updating this app to add its own support for managing user accounts
    and sign-ins, but after 15 years of maintaining it, I think I'm done with it and I urge
    the remaining users to migrate to another app to tracking movies watched like <i>Letterboxd</i>.
    The links to export your data are visible on your profile page.
    If you have any questions about this, email me at:
    <a href="mailto:hi@mislav.net">hi@mislav.net</a>
  </p>
  
</article>
