<% body_class 'about' %>
<article>
  <h1>About this site</h1>
  
  <p>
    Movi.im was created by <a href="/ivana">Ivana</a> &amp; <a href="/mislav">Mislav</a>
    as a place where we could remember movies we watched and those we wanted to watch in future.
  </p>
  <p>
    This site fetches movie data from <a href="https://www.themoviedb.org">The Movie DB</a>.
  </p>
  <p>
    The <a href="https://github.com/mislav/movieapp">codebase for this site</a> is open source and
    can be contributed to by anyone.
  </p>
  
  <h2>Contact</h2>
  
  <p>
    <a href="mailto:mislav.marohnic@gmail.com">mislav.marohnic@gmail.com</a>
  </p>
  
</article>
