<% body_class 'about' %>
<article>
  <h1>About this site</h1>
  
  <p>
    Movi.im was created by <a href="/ivana">Ivana</a> &amp; <a href="/mislav">Mislav</a>
    as a place where we could remember movies we watched and those we wanted to watch in future.
  </p>
  <p>
    Our philosophy while building the site was: <strong>no signup, no web forms, just movies</strong>.
  </p>
  <p>
    Unlike other sites that do the similar, we prefer older movies to newest Hollywood blockbusters.
    We don't pay attention to how well a movie did in the box office or the prettiness of the actors.
  </p>
  <p>
    We get movie data by querying public APIs of The Movie DB and Rotten Tomatoes.
  </p>
  
  <section>
    <h1>Open source</h1>
    
    <p>
      The <a href="http://github.com/mislav/movieapp">codebase for this site</a> can be found on GitHub.
      Some of the technologies in use are:
    </p>
    
    <ul>
      <li>Ruby 1.9</li>
      <li>Ruby on Rails 3</li>
      <li>MongoDB</li>
      <li>SCSS &amp; Compass</li>
    </ul>
  </section>

  <section>
    <h1>Write to us</h1>
  
    <p>
      We want to know what you think. Is something out of place, do you miss a feature?
      We tweet at <a href="http://twitter.com/ivanavasilj">@ivanavasilj</a> and <a href="http://twitter.com/mislav">@mislav</a>, respectively, and you can <a href="mailto:mislav.marohnic+ivasilj@gmail.com">email us</a> too.
    </p>
  </section>
  
</article>
