<article>

  <% unless logged_in? or @query or @director %><section class="intro">
    <p>
      This is a micro web app for keeping track of movies you watched or want to watch.<br>
      You can also see what your friends are watching and discover good movies that way.
    </p>
    <p>The Movie App is delightfully easy to use: there is no registration, just log in and explore.</p>
  </section><% end %>

  <h1><% if @query %>
    Search results for <i><%= h @query %></i>
    <% @title = "Movie search for #{@query}"%>
  <% elsif @director %>
    <%= @title = "Movies by #{@director}" %>
  <% else %>
    Last watched by our users
  <% end %></h1>

  <% unless @movies.empty? %>
    <%= render 'paginated', :movies => @movies %>
  <% else %>
    <p>Nothing found. I SO SORRY</p>
  <% end %>

</article>