<% body_class 'about' %>
<article>
  <h1>movi.im Privacy Policy</h1>
  
  <p>
    When you log in to <i>movi.im</i> using Twitter or Facebook, <i>movi.im</i> retains the following information about you:
  </p>

  <ul>
    <li>your name as taken from your social media profile;</li>
    <li>your time zone;</li>
    <li>the list of movies you've marked as “watched” or “to watch”.</li>
  </ul>
  
  <p>
    Your information is never shared with 3rd parties.
  </p>
  
  <p>
    For site usage statistics, <i>movi.im</i> sends anonymous page view metrics to
    <a href="https://get.gaug.es/">gaug.es</a>.
  </p>

  <p>
    The <i>movi.im</i> site is operated by Mislav Marohnić &lt;<a href="mailto:mislav.marohnic@gmail.com">mislav.marohnic@gmail.com</a>&gt;
  </p>
  
</article>
