---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=<TMDB_KEY>&query=black%20cat
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Status: 200 OK
      X-Memc: HIT
      X-Memc-Age: '1'
      X-Memc-Key: /search/movie?include_adult=false&language=en&query=black+cat
      X-Varnish-Sid: tm-v-p-1200
    body:
      encoding: UTF-8
      string: |-
        {
          "page": 1,
          "results": [
            {
              "backdrop_path": "/oIdAuFg8gNRV2a3QCD6NBDpTFBR.jpg",
              "id": 1075,
              "original_title": "Crna mačka, beli mačor",
              "release_date": "1998-09-10",
              "popularity": 0.306,
              "poster_path": "/7q96evV2xWjvkO4fMdqe8vixKb8.jpg",
              "title": "Black Cat, White Cat"
            },
            {
              "backdrop_path": "/7Op1U9FLDUXS7XasuDq5IPII1EV.jpg",
              "id": 40149,
              "original_title": "Yabu no naka no kuroneko",
              "release_date": "1968-02-24",
              "popularity": 0.004,
              "poster_path": "/hqgQh5IBeOz4gfokWVogdlPgGiZ.jpg",
              "title": "Kuroneko"
            },
            {
              "backdrop_path": null,
              "id": 93888,
              "origina[...]
- request:
    method: get
    uri: http://api.themoviedb.org/3/configuration?api_key=<TMDB_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Status: 200 OK
      X-Varnish-Sid: tm-v-p-1200
    body:
      encoding: UTF-8
      string: |-
        {
          "images": {
            "base_url": "http://cf2.imgobject.com/t/p/",
            "poster_sizes": [
              "w92",
              "w154",
              "w185",
              "w342",
              "w500",
              "original"
            ],
            "backdrop_sizes": [
              "w300",
              "w780",
              "w1280",
              "original"
            ],
            "profile_sizes": [
              "w45",
              "w185",
              "h632",
              "original"
            ]
          }
        }
  recorded_at: Tue, 13 Mar 2012 18:16:40 GMT
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=<TMDB_KEY>&query=the%20terminator
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Status: 200 OK
      X-Memc: HIT
      X-Memc-Age: '32880'
      X-Memc-Key: /search/movie?include_adult=false&language=en&query=the+terminator
      X-Varnish-Sid: tm-v-p-1200
    body:
      enco[...]
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=<TMDB_KEY>&query=lepa%20brena
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Status: 200 OK
      X-Memc: MISS, STORE
      X-Memc-Age: '0'
      X-Memc-Key: /search/movie?include_adult=false&language=en&query=lepa+brena
      X-Varnish-Sid: tm-v-p-1200
    body:
      encoding: UTF-8
      string: |-
        {
          "page": 1,
          "results": [

          ],
          "total_pages": 0,
          "total_results": 0
        }
  recorded_at: Tue, 13 Mar 2012 18:16:43 GMT
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/24684/casts?api_key=<TMDB_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Status: 200 OK
      X-Memc: HIT
      X-Memc-Age: '80697'
      X-Memc-Key: /movie/24684/casts?language=en
      X-Varnish-Sid: tm-v-p-1200
    body:
      encoding: UTF-8
      string: |-
        {
          "id": 24684,
          "cast": [
            {
              "id": 36662,
              "name": "Carey Mulligan",
              "character": "Jenny",
              "order": 0,
              "profile_path": "/mEc1KBrYdWvGLjbktGCflLjgYL2.jpg"
            },
            {
              "id": 11616,
              "name": "Olivia Williams",
              "character": "Miss Stubbs",
              "order": 1,
              "profile_path": "/qYY72sQY6zFo7VeexTpNlaCo7Jf.jpg"
            },
            {
              "id": 658,
              "name": "Alfred Molina",
              "character": "Jack",
              "order": 2,
              "profile_path": "/4FB5RJ4S5uV82JZEusuUw4JySrF.jpg"
            },
[...]
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/24684?api_key=<TMDB_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Status: 200 OK
      X-Memc: HIT
      X-Memc-Age: '80697'
      X-Memc-Key: /movie/24684?language=en
      X-Varnish-Sid: tm-v-p-1200
    body:
      encoding: UTF-8
      string: |-
        {
          "adult": false,
          "backdrop_path": "/eeaLhNPknWNcwgvpYnOgRYTzNzd.jpg",
          "belongs_to_collection": null,
          "budget": 7500000,
          "genres": [
            {
              "id": 18,
              "name": "Drama"
            },
            {
              "id": 10749,
              "name": "Romance"
            },
            {
              "id": 10769,
              "name": "Foreign"
            }
          ],
          "homepage": "http://www.sonyclassics.com/aneducation/",
          "id": 24684,
          "imdb_id": "tt1174732",
          "original_title": "An Education",
          "overview": "A coming-of-age story about a teenage girl in 1960s suburban London, and how her life changes with the arrival of a playboy nearly twice her age.",
          "popularity": 45.494,
          "poster_path": "/ynRxERFGIV7UqFMsB2sqcLfmeut.jpg",
          "production_companies": [
            {
              "name": "BBC Films",
              "id": 419
            }
          ],
          "production_countries": [
            {
              "iso_3166_1": "GB",
              "name": "United Kingdom"
            },
            {
              "iso_3166_1": "US",
              "name": "United States of America"
            }
          ],
          "release_date": "2009-10-30",
          "revenue": 0,
          "runtime": 95,
          "spoken_languages": [
            {
              "iso_639_1": "en",
              "name": "English"
            }
          ],
          "tagline": "Innocence of the Young.",
          "title": "An Education",
          "vote_average": 7.3,
          "vote_count": 5
        }
  recorded_at: Tue, 13 Mar 2012 18:16:44 GMT
recorded_with: VCR 2.0.0
