---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&list=search&srsearch=Misery%201990
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "query": {
            "searchinfo": {
              "totalhits": 1387
            },
            "search": [
              {
                "ns": 0,
                "title": "Misery (film)",
                "snippet": "<span class='searchmatch'>Misery</span> is a <span class='searchmatch'>1990</span> American psychological horror  film  based on Stephen King 's 1987  novel of the same name .  Directed by Rob Reiner , the <b>...</b> ",
                "size": 10438,
                "wordcount": 1367,
                "timestamp": "2012-02-24T22:15:23Z"
              },
              {
                "ns": 0,
                "title": "Misery Loves Co.",
                "snippet": "<span class='searchmatch'>Misery</span> Loves Co.  was a Swedish industrial metal  duo of the <span class='searchmatch'>1990</span>s and early 2000s.  The band combined the hostility of thrash metal  riffs  <b>...</b> ",
                "size": 3285,
                "wordcount": 431,
                "timestamp": "2011-08-28T17:11:23Z"
        [...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&list=search&srsearch=Klogaboogaloo%201990
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "query": {
            "searchinfo": {
              "totalhits": 0,
              "suggestion": "Eliogabalo 1990"
            },
            "search": [

            ]
          }
        }
  recorded_at: Tue, 13 Mar 2012 20:29:15 GMT
recorded_with: VCR 2.0.0
