@font-face { font-family:"josefin sans std"; src:url("/fonts/JosefinSansStd-Light.otf") }

* { margin:0; padding:0 }
ol, ul { list-style:none }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block }

body {
  font: 75%/1.5em geneva,"bitstream vera sans",arial,helvetica,sans-serif;
  padding:2.5em 4em;
  background-color:#FDFDFD; color:#222;
/*  background-image:url('/images/9_2_grid.png');*/
}
  
h1 { font-weight:normal; text-shadow:1px 1px 1px rgba(127, 127, 127, 0.5) }
  h1 a { text-decoration:none }

header h1 {
  font:bold 5em "josefin sans std",geneva,"bitstream vera sans",arial,helvetica,sans-serif;
  letter-spacing:1px;
  text-shadow:1px 1px 1px rgba(127, 127, 127, 0.5);
}
header nav { margin:-1.4em 0 1.5em 1.2em }

body > article { margin-left:1.2em }
  body > article > h1 {
    margin:3.3em 0 1.75em;
    font-size:1.5em;
  }

a:link, a:visited { color:inherit }
a:hover, a:active { /*color: lemonchiffon;*/ }

.toothin { font-weight:bold }

.actions li { display:inline; border-left:1px solid; padding-left:.8em; margin-left:.5em; }
.actions li:first-child, ol.movies .actions li { border-left:0 none; padding-left:0; margin-left:0; }

/* movie list */

ol.movies a { text-decoration:none }

ol.movies > li { margin-bottom:2em; clear:left; overflow:hidden } 
  ol.movies h1, ol.movies article > a span {
    font-family:"josefin sans std",geneva,arial,sans-serif;
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.3);
  }
  ol.movies h1 {
    display:inline;
    font-size:2.1em; line-height:1.1em;
  }
  ol.movies article > a span {
    display:block; width:20%;
    font-size:1.3em; line-height:1.5em;
  }
  ol.movies img {
    border:1px solid #777;
    display:block; width:92px; height:140px;
    float:left; margin-right:24px;
  }

  ol.movies .actions { margin:40px 0 0 116px }
    ol.movies .actions li { }
      ol.movies .actions a {
        display:block;
        height:21px; width:110px; margin-top:5px;
        border:1px solid #ccc;
        -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;
        background:#f5f5f5; color:#333;
        background-image:-moz-linear-gradient(top,white,#d8d8d8);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#d8d8d8));
      }
      ol.movies .actions a:hover {
        background:#02303F; color:#fdfdfd; border-color:#02303F;
      }
        ol.movies .actions a span {
          font-size:1.3em; text-align:center;
          display:inline-block; width:25px;
        }
