<section class="person">
  <h1>
    <% if compare.user.picture? %>
    <span class="avatar" style="background-image:url(<%= compare.user.picture_url %>)"></span>
    <% end %>
    <span class="name"><%= user_name compare.user %></span>
  </h1>
  <p class="watched"><%= pluralize_movies compare.watched_count %></p>

  <% unless_empty compare.fav_directors do |directors| %>
  <section class="directors">
    <h1>Top directors:</h1>
    <ol><% directors.each do |name| %>
      <li><%= link_to name, director_path(name) %>
    <% end %></ol>
  </section>
  <% end %>
  
</section>
