<% @title = "People you're following" %>
<% body_class 'friends' %>

<article>
  <header>
    <h1>People you're following</h1>
    <p>See what they have watched recently in your <%= link_to 'timeline', timeline_path %>.</p>
  </header>

  <table>
    <thead>
      <th><!-- icon --></th>
      <th>Name</th>
      <th>Screen name</th>
      <th>Compatibility</th>
      <th><!-- unfollow --></th>
    </thead>
    <tbody>
      <%= render :partial => 'friend', :collection => current_user.friends.to_a %>
    </tbody>
  </table>
</article>
