<article>

  <% if not @movies.empty? %>
    <h1>Friends of <%= @user.name %> watched <%= count @movies %>.</h1>
    
    <%= render 'movies/paginated', :movies => @movies %>
  <% else %>
    <p>No movies found.</p>
  <% end %>

</article>