<% @title = "Movies from #{user_name(@user)}'s friends" %>
<article>

  <% if not @movies.empty? %>
    <h1>Friends of <%= @user.name %> watched <%= count @movies %>.</h1>
    <nav><p>
      <%= raw @user.friends.map { |friend| link_to friend.name, watched_path(friend) }.join ', ' %>
    </p></nav>
    
    <%= render 'movies/paginated', :movies => @movies %>
  <% else %>
    <% if my_page? %>
      <section class="intro">
        <p>
          When someone of your Twitter or Facebook connections uses this site,<br>
          movies they watched will be listed here.
        </p>
      </section>
    <% end %>
    
    <p>No movies found.</p>
  <% end %>

</article>