<% body_class 'users-list' %>
<article>
  <h1>Our wonderful users</h1>
  
  <ol><% for user in @users %>
    <li>
      <%= username_with_icon(user) %>
      (<%= user.name %>)
      — <%= user.watched.size %> watched, <%= user.to_watch.size %> to see
    </li>
  <% end %></ol>
</article>