<% @title = "Unable to login with Facebook" %>
<% body_class 'error' %>
<article>
  <h1>Facebook login has been discontinued</h1>
  <p>Unfortunately, Facebook disabled my Facebook App that I was using for login for this site, so logging in with Facebook is no longer an option.</p>
  <p>If you find yourself locked out of your account because of this, please <a href="mailto:hi@mislav.net">email me</a>.</p>
</article>