---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=<TMDB_KEY>&query=Terminator
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Etag: ! '"9b803f85ad2954993ed9a23c16088cfc"'
      Status: 200 OK
      X-Memc: HIT
      X-Memc-Age: '3081'
      X-Memc-Expires: '519'
      X-Memc-Key: 583d3dbe7bfcd5cd8b2ab9ea4d4c3c19
      X-Varnish-Sid: tm-v-p-1200
    body:
      encoding: UTF-8
      string: |-
        {
          "page": 1,
          "results": [
            {
              "adult": false,
              "backdrop_path": "/6yFoLNQgFdVbA8TZMdfgVpszOla.jpg",
              "id": 218,
              "original_title": "The Terminator",
              "release_date": "1984-10-26",
              "poster_path": "/q8ffBuxQlYOHrvPniLgCbmKK4Lv.jpg",
              "popularity": 8.66635102269048,
              "title": "The Terminator",
              "vote_average": 6.9,
              "vote_count": 480
            },
            {
              "adult": false,
              "backdrop_path": "/lr125x2Fy5O4AN07NGxyJlp5LC8.jpg",
              "id": 534,
              "original_title": "Terminator Salvation",
              "release_date": "2009-05-20",
              "poster_path": "/oN6Nn4Pn0ePi2YqhfHpA0r8ktg1.jpg",
              "popularity": 11.0289764011684,
              "title": "Terminator Salvation",
              "vote_average": 5.8,
              "vote_count": 335
            },
    [...]
- request:
    method: get
    uri: http://api-public.netflix.com/catalog/titles?expand=synopsis,directors&max_results=5&start_index=0&term=Terminator&v=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth oauth_consumer_key="<NETFLIX_KEY>", oauth_nonce="cdd295542031a6e64c9185e14de311d7",
        oauth_signature="6Kkd5OWRlCOoxyRbXiNUusD7hRs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1373816345", oauth_version="1.0"
  response:
    status: {code: 200, message: OK}
    headers:
      X-Mashery-Responder: mashery-web2-atl.mashery.com
      Etag: ! '"753774445"'
      Content-Type: application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" standalone='yes'?>

        <catalog_titles>
          <link href="http://api-public.netflix.com/catalog/titles/index" rel="http://schemas.netflix.com/catalog/titles/index" title="index"></link>
          <link href="http://api-public.netflix.com/catalog/titles/autocomplete" rel="http://schemas.netflix.com/catalog/titles/autocomplete" title="autocomplete"></link>
          <url_template>http://api-public.netflix.com/catalog/titles?{-join|&amp;|term|start_index|max_results}</url_template>
          <number_of_results>308</number_of_results>
          <start_index>0</start_index>
          <results_per_page>5</results_per_page>
          <catalog_title>
            <id>http://api-public.netflix.com/catalog/titles/movies/70103524</id><title short="Terminator: Salvation" regular="Terminator: Salvation"></title>
        <box_art small="http://cdn-4.nflximg.com/us/boxshots/tiny/70103524.jpg" medium="http://cdn-4.nflximg.com/us/boxshots/small/70103524.jpg" large="http://cdn-4.nflximg.com/us/boxshots/large/70103524.jpg"></box_art>
        <link href="http://api-public.netflix.com/catalog/titles/movies/70103524/synopsis" rel="http://schemas.netflix.com/catalog/titles/synopsis" title="synopsis"><synopsis><![CDATA[All grown up in post-apocalyptic 2018, John Connor must lead the resistance of humans against the increasingly dominating militaristic robots in this fourth installment of the popular action-packed Terminator series.]]></synopsis></link>
        <release_year>2009</release_year>
        <category scheme="http://api-public.netflix.com/categories/mpaa_ratings" label="R" term="R"></category>
        <category scheme="http://api-public.netflix.com/categories/genres" label="Sci-Fi &amp; Fantasy" term="Sci-Fi &amp; Fantasy"></category>
        <category scheme="http://api-public.netflix.com/categories/genres" label="Action Sci-Fi &amp; Fantasy" term="Action Sci-Fi &amp; Fantasy"></category>
        <category scheme="http://api-public.netflix.com/categories/genres" label="Sci-Fi Thrillers" term="Sci-Fi Thrillers"></category>
        <category scheme="http://api-public.netflix.com/categories/genres" label="Action Thrillers" term="Action Thrillers"></category>
        <category scheme="http://api-public.netflix.com/categories/genres" label="Blockbusters" term="Blockbusters"></category>
        <runtime>6900</runtime>
        <link href="http://api-public.netflix.com/catalog/titles/movies/70103524/format_availability" rel="http://schemas.netflix.com/catalog/titles/format_availability" title="formats"></link>
        <link href="http://api-public.netflix.com/catalog/titles/movies/70103524/screen_formats" rel="http://schemas.netflix.com/catalog/titles/screen_formats" title="screen formats"></link>
        <link href="http://api-public.netflix.com/catalog/titles/movies/70103524/cast" rel="http://schemas.netflix.com/catalog/people.cast" title="cast"></link>
        <link href="http://api-public.netflix.com/catalog/titles/movies/70103524/directors" rel="http://schemas.netflix.com/catalog/people.directors" title="directors"><people><link href="http://api-public.netflix.com/catalog/people/20009911" rel="http://schemas.netflix.com/catalog/person" title="McG"></link></people></link>
        <link href="http://api-public.netflix.com/catalog/titles/movies/70103524/languages_and_audio" rel="http://schemas.netflix.com/catalog/titles/languages_and_audio" title="languages and audio"></link>
        <average_rating>3.6</average_rating>
        <link href="http://api-public.netflix.com/catalog/titles/movies/70103524/similars" rel="http://schemas.netflix.com/catalog/titles.similars" title="similars"></link>
        <link href="http://www.netflix.com/Movie/Terminator_Salvation/70103524" rel="alternate" title="web page"></link>

          </catalog_title>
          <catalog_title>
            <id>http://api-public.netflix.com/catalog/titles/series/70157234</id><title short="Terminator: The Sarah Connor Chronic[...]
- request:
    method: get
    uri: http://api.rottentomatoes.com/api/public/v1.0/movies.json?apikey=<ROTTEN_KEY>&page=1&page_limit=5&q=Terminator
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Language: en-US
      Content-Type: text/javascript;charset=ISO-8859-1
      X-Mashery-Responder: prod-j-worker-us-east-1d-32.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "total": 21,
          "movies": [
            {
              "id": "770676948",
              "title": "Terminator Salvation",
              "year": 2009,
              "mpaa_rating": "PG-13",
              "runtime": 115,
              "critics_consensus": "With storytelling as robotic as the film's iconic villains, Terminator Salvation offers plenty of great effects but lacks the heart of the original films.",
              "release_dates": {
                "theater": "2009-05-21",
                "dvd": "2009-12-01"
              },
              "ratings": {
                "critics_rating": "Rotten",
                "critics_score": 33,
                "audience_rating": "Upright",
                "audience_score": 64
              },
              "synopsis": "",
              "posters": {
                "thumbnail": "http://content7.flixster.com/movie/11/16/67/11166729_mob.jpg",
                "profile": "http://content7.flixster.com/movie/11/16/67/11166729_pro.jpg",
                "detailed": "http://content7.flixster.com/movie/11/16/67/11166729_det.jpg",
                "original": "http://content7.flixster.com/movie/11/16/67/11166729_ori.jpg"
              },
              "abridged_cast": [
                {
                  "name": "Christian Bale",
                  "id": "162652645",
                  "characters": [
                    "John Connor"
                  ]
                },
                {
                  "name": "Sam Worthington",
                  "id": "326396777",
                  "characters": [
                    "Marcus Wright"
                  ]
                },
                {
                  "name": "Anton Yelchin",
                  "id": "162673323",
                  "characters": [
                    "Kyle Reese"
                  ]
                },
                {
                  "name": "Moon Bloodgood",
                  "id": "162652457",
                  "characters": [
                    "Blair Williams"
                  ]
                },
                {
                  "name": "Bryce Dallas Howard",
                  "id": "162660901",
                  "characters": [
                    "Kate Connor"
                  ]
                }
              ],
              "alternate_ids": {
                "imdb": "0438488"
              },
              "links": {
                "self": "http://api.rottentomatoes.com/api/public/v1.0/movies/770676948.json",
                "alternate": "http://www.rottentomatoes.com/m/terminator_4/",
                "cast": "http://api.rottentomatoes.com/api/public/v1.0/movies/770676948/cast.json",
                "clips": "http://api.rottentomatoes.com/api/public/v1.0/movies/770676948/clips.json",
                "reviews": "http://api.rottentomatoes.com/api/public/v1.0/movies/770676948/reviews.json",
                "similar": "http://api.rottentomatoes.com/api/public/v1.0/movies/770676948/similar.json"
              }
            },
            {
              "id": "771359910",
              "title": "Terminator 5",
              "year": 2015,
              "mpaa_rating": "Unrated",
              "runtime": "",
              "release_dates": {
                "theater": "2015-06-26"
              },
              "ratings": {
                "critics_score": -1,
                "audience_score": 100
              }[...]
- request:
    method: get
    uri: http://api.themoviedb.org/3/configuration?api_key=<TMDB_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Etag: ! '"a1dda02b6f2e5ef6f6b1a534a181cf1d"'
      Status: 200 OK
      X-Varnish-Sid: tm-v-p-1200
    body:
      encoding: UTF-8
      string: |-
        {
          "images": {
            "base_url": "http://d3gtl9l2a4fn1j.cloudfront.net/t/p/",
            "secure_base_url": "https://d3gtl9l2a4fn1j.cloudfront.net/t/p/",
            "poster_sizes": [
              "w92",
              "w154",
              "w185",
              "w342",
              "w500",
              "original"
            ],
            "backdrop_sizes": [
              "w300",
              "w780",
              "w1280",
              "original"
            ],
            "profile_sizes": [
              "w45",
              "w185",
              "h632",
              "original"
            ],
            "logo_sizes": [
              "w45",
              "w92",
              "w154",
              "w185",
              "w300",
              "w500",
              "original"
            ]
          },
          "change_keys": [
            "adult",
            "also_known_as",
            "alternative_titles",
            "biography",
            "birthday",
            "budget",
            "cast",
            "character_names",
            "crew",
            "deathday",
            "general",
            "genres",
            "homepage",
            "images",
            "imdb_id",
            "name",
            "original_title",
            "overview",
            "plot_keywords",
            "production_companies",
            "production_countries",
            "releases",
            "revenue",
            "runtime",
            "spoken_languages",
            "status",
            "tagline",
            "title",
            "trailers",
            "translations"
          ]
        }
  recorded_at: Sun, 14 Jul 2013 15:39:08 GMT
- request:
    method: post
    uri: http://fickle:<FICKLE_KEY>@fickle-movieapp.herokuapp.com/recommend
    body:
      encoding: US-ASCII
      string: ! '["51e2c61c04f55519f2000025"]'
    headers:
      Content-Type: application/json
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json
    body:
      encoding: UTF-8
      string: |-
        [
          null
        ]
  recorded_at: Sun, 14 Jul 2013 15:39:09 GMT
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=<TMDB_KEY>&query=Lepa%20Brena
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Etag: ! '"a8d277d2d95f2ea20f792a48c43093dc"'
      Status: 200 OK
      X-Memc: HIT
      X-Memc-Age: '3343'
      X-Memc-Expires: '257'
      X-Memc-Key: 1627315d53317be0d8e3423cdbf21a52
      X-Varnish-Sid: tm-v-p-1100
    body:
      encoding: UTF-8
      string: |-
        {
          "page": 1,
          "results": [

          ],
          "total_pages": 0,
          "total_results": 0
        }
  recorded_at: Sun, 14 Jul 2013 15:39:09 GMT
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=<TMDB_KEY>&query=red%20shoe%20diaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Etag: ! '"f67f38cf4e4a46f015c26aff5c1510d2"'
      Status: 200 OK
      X-Memc: HIT
      X-Memc-Age: '3344'
      X-Memc-Expires: '256'
      X-Memc-Key: 92e5e8f69481ca0c983d9136faefdb6b
      X-Varnish-Sid: tm-v-p-1100
    body:
      encoding: UTF-8
      string: |-
        {
          "page": 1,
          "results": [
            {
              "adult": false,
              "backdrop_path": null,
              "id": 5234,
              "original_title": "Red Shoe Diaries",
              "release_date": "1992-05-16",
              "poster_path": "/fcWaJOQWHOsGfJDDRH5YvtXU1dk.jpg",
              "popularity": 0.52,
              "title": "Red Shoe Diaries",
              "vote_average": 0.0,
              "vote_count": 0
            }
          ],
          "total_pages": 1,
          "total_results": 1
        }
  recorded_at: Sun, 14 Jul 2013 15:39:10 GMT
- request:
    method: get
    uri: http://api-public.netflix.com/catalog/titles?expand=synopsis,directors&max_results=5&start_index=0&term=red%20shoe%20diaries&v=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth oauth_consumer_key="<NETFLIX_KEY>", oauth_nonce="e1e9f3e976f207606c3d880de6de4b5d",
        oauth_signature="hiTIZzLdNh1Zho0PYtSpUZN%2F%2Fdw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1373816350", oauth_version="1.0"
 [...]
- request:
    method: get
    uri: http://api.rottentomatoes.com/api/public/v1.0/movies.json?apikey=<ROTTEN_KEY>&page=1&page_limit=5&q=red%20shoe%20diaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Language: en-US
      Content-Type: text/javascript;charset=ISO-8859-1
      X-Mashery-Responder: prod-j-worker-us-east-1c-37.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
     [...]
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/5234?api_key=<TMDB_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Etag: ! '"ea16ffd6a62214e2c8674a110bb92596"'
      Status: 200 OK
      X-Memc: HIT
      X-Memc-Age: '3343'
      X-Memc-Expires: '83059'
      X-Memc-Key: 2434dd4f3fb6aeb6ab2fe6fd49a71ac3
      X-Varnish-Sid: tm-v-p-1100
    body:
      encoding: UTF-8
      string: |-
        {
          "adult": false,
          "backdrop_path": null,
          "belongs_to_collection": {
            "id": 5202,
            "name": "Wilde Orchidee",
            "poster_path": null,
            "backdrop_path": null
          },
          "budget": 0,
          "genres": [
            {
              "id": 18,
              "name": "Drama"
            },
            {
              "id": 2916,
              "name": "Erotic"
            }
          ],
          "homepage": "",
          "id": 5234,
          "imdb_id": "tt0105227",
          "original_title": "Red Shoe Diaries",
          "overview": "Trapped by a burning secret. Torn by a blazing desire. He gave her his devoted passion. He offered her a lasting relationship. He promised her a secure future. She thought he was all she ever wanted. Until she met everything she ever desired: the perfect body... on the perfect man... with a perfect opportunity for having a secret affair with a total stranger. Haunted by guilt, she is drawn uncontrollably into the powerful, beckoning arms of illicit lust and feverish obsession. But like a moth lured to the candle, the fire that now controls her could be the flame that one day consumes her.",
          "popularity": 0.52,
          "poster_path": "/fcWaJOQWHOsGfJDDRH5YvtXU1dk.jpg",
          "production_companies": [

          ],
          "production_countries": [
            {
              "iso_3166_1": "US",
              "name": "United States of America"
            }
          ],
          "release_date": "1992-05-16",
          "revenue": 0,
          "runtime": 103,
          "spoken_languages": [
            {
              "iso_639_1": "en",
              "name": "English"
            }
          ],
          "status": "Released",
          "tagline": "",
          "title": "Red Shoe Diaries",
          "vote_average": 0.0,
          "vote_count": 0
        }
  recorded_at: Sun, 14 Jul 2013 15:39:11 GMT
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/5234/casts?api_key=<TMDB_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Etag: ! '"2fc6ca82f29e33e398098e3a86d7b867"'
      Status: 200 OK
      X-Memc: HIT
      X-Memc-Age: '33790'
      X-Memc-Expires: '52612'
      X-Memc-Key: 01bf04722cd5bf7525146fea6924b0ac
      X-Varnish-Sid: tm-v-p-1100
    body:
      encoding: UTF-8
      string: |-
        {
          "id": 5234,
          "cast": [
            {
              "id": 14607,
              "name": "Brigitte Bako",
              "character": "Alex",
              "order": 0,
              "cast_id": 1,
              "profile_path": null
            },
            {
              "id": 42136,
              "name": "Bridgit Ryan",
              "character": "Marlene",
              "order": 1,
              "cast_id": 2,
              "profile_path": null
            },
            {
              "id": 42144,
              "name": "Evie Sullivan",
              "character": "Gabriella",
              "order": 2,
              "cast_id": 3,
              "profile_path": null
            },
            {
              "id": [...]
- request:
    method: get
    uri: http://api.rottentomatoes.com/api/public/v1.0/movie_alias.json?apikey=<ROTTEN_KEY>&id=0105227&type=imdb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Language: en-US
      Content-Type: text/javascript;charset=ISO-8859-1
      X-Mashery-Responder: prod-j-worker-us-east-1b-36.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "Could not find a movie with the specified id"
        }
  recorded_at: Sun, 14 Jul 2013 15:39:12 GMT
recorded_with: VCR 2.0.0
