---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=<TMDB_KEY>&query=Lepa%20Brena
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Status: 200 OK
      X-Memc: HIT
      X-Memc-Age: '77986'
      X-Memc-Key: /search/movie?include_adult=false&language=en&query=lepa+brena
      X-Varnish-Sid: tm-v-p-1100
    body:
      encoding: UTF-8
      string: |-
        {
          "page": 1,
          "results": [

          ],
          "total_pages": 0,
          "total_results": 0
        }
  recorded_at: Sat, 10 Mar 2012 15:04:57 GMT
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=<TMDB_KEY>&query=red%20shoe%20diaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Status: 200 OK
      X-Memc: MISS, STORE
      X-Memc-Age: '0'
      X-Memc-Key: /search/movie?include_adult=false&language=en&query=red+shoe+diaries
      X-Varnish-Sid: tm-v-p-1100
    body:
      encoding: UTF-8
      string: |-
        {
          "page": 1,
          "results": [
            {
              "backdrop_path": null,
              "id": 5234,
              "original_title": "Red Shoe Diaries",
              "release_date": "1992-05-16",
              "popularity": 0.038,
              "poster_path": "/fcWaJOQWHOsGfJDDRH5YvtXU1dk.jpg",
              "title": "Red Shoe Diaries"
            }
          ],
          "total_pages": 1,
          "total_results": 1
        }
  recorded_at: Sat, 10 Mar 2012 15:04:57 GMT
- request:
    method: get
    uri: http://api-public.netflix.com/catalog/titles?expand=synopsis,directors&max_results=5&start_index=0&term=red%20shoe%20diaries&v=1.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth oauth_consumer_key="<NETFLIX_KEY>", oauth_nonce="55b49906521c94bb712642f4d06928ac",
        oauth_signature="9l9f%2F7XGrV6dZW9wwF%2FsEZAuMoM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1331391897", oauth_version="1.0"
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/xml;charset=UTF-8
      Etag: ! '"0"'
      X-Mashery-Responder: proxylb-p-us-east-1c-05.mashery.com
      X-Netflix.client.instance: i-3fa8005b
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" standalone="yes"?>
        <catalog_titles>
          <link href="http://api.netflix.com/catalog/titles/index" rel="http://schemas.netflix.com/catalog/titles/index" title="index"/>
          <link href="http://api.netflix.com/catalog/titles/autocomplete" rel="http://schemas.netflix.com/catalog/titles/autocomplete" title="autocomplete"/>
          <url_template>http://api.netflix.com/catalog/titles?{-join|&amp;|term|start_index|max_results}</url_template>
          <number_of_results>4493</number_of_results>
          <start_index>0</start_index>
          <results_per_page>25</results_per_page>
          <catalog_title>
            <id>http://api.netflix.com/catalog/titles/movies/60035932</id><title short="Red Shoe Diaries: Movie: Special Ed." regular="Red Shoe Diaries: The Movie: Special Edition"/>
        <box_art small="http://cdn-2.nflximg.com/en_us/boxshots/tiny/60035932.jpg" medium="http://cdn-2.nflximg.com/en_us/boxshots/small/60035932.jpg" large="http://cdn-2.nflximg.com/en_us/boxshots/large/60035932.jpg"/>
        <link href="http://api.netflix.com/catalog/titles/movies/60035932/synopsis" rel="http://schemas.netflix.com/catalog/titles/synopsis" title="synopsis"><synopsis><![CDATA[In the film that launched the erotic Showtime series, a woman engaged to an architect has an affair with a construction worker and then kills herself because she can't handle the clash in lifestyles. When the architect, Jake (David Duchovny), goes through his fianc&#233;e's belongings after her suicide, he discovers a shoebox containing her diary. Stunned to learn of the affair, Jake seeks out the man he now holds responsible for her death.]]></synopsis></link>
        <release_year>1992</release_year>
        <category scheme="http://api.netflix.com/categories/mpaa_ratings" label="R" term="R"/>
        <category scheme="http://api.netflix.com/categories/genres" label="Dramas" term="Dramas"/>
        <category scheme="http://api.netflix.com/categories/genres" label="Romantic Movies" term="Romantic Movies"/>
        <category scheme="http://api.netflix.com/categories/genres" label="Romantic Dramas" term="Romantic Dramas"/>
        <category scheme="http://api.netflix.com/categories/genres" label="Steamy Romantic Movies" term="Steamy Romantic Movies"/>
        <runtime>6300</runtime>
        <link href="http://api.netflix.com/catalog/titles/movies/60035932/format_availability" rel="http://schemas.netflix.com/catalog/titles/format_availability" title="formats"/>
        <link href="http://api.netflix.com/catalog/titles/movies/60035932/screen_formats" rel="http://schemas.netflix.com/catalog/titles/screen_formats" title="screen formats"/>
        <link href="http://api.netflix.com/catalog/titles/movies/60035932/cast" rel="http://schemas.netflix.com/catalog/people.cast" title="cast"/>
        <link href="http://api.netflix.com/catalog/titles/movies/60035932/directors" rel="http://schemas.netflix.com/catalog/people.directors" title="directors"><people><link href="http://api.netflix.com/catalog/people/20002603" rel="http://schemas.netflix.com/catalog/person" title="Zalman King"/></people></link>
        <link href="http://api.netflix.com/catalog/titles/movies/60035932/languages_and_audio" rel="http://schemas.netflix.com/catalog/titles/languages_and_audio" title="languages and audio"/>
        <average_rating>3.0</average_rating>
        <link href="http://api.netflix.com/catalog/titles/movies/60035932/similars" rel="http://schemas.netflix.com/catalog/titles.similars" title="similars"/>
        <link href="http://www.netflix.com/Movie/Red_Shoe_Diaries_The_Movie_Special_Edition/60035932" rel="alternate" title="web page"/>

          </catalog_title>
          <catalog_title>
            <id>http://api.netflix.com/catalog/titles/movies/60027797</id><title short="Red Shoe Diaries: Hotline" regular="Red [...]
- request:
    method: get
    uri: http://api.rottentomatoes.com/api/public/v1.0/movies.json?apikey=<ROTTEN_KEY>&page=1&page_limit=5&q=red%20shoe%20diaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Language: en-US
      Content-Type: text/javascript;charset=ISO-8859-1
      X-Mashery-Responder: proxylb-p-us-east-1c-04.mashery.com
      X-Original-Content-Encoding: gzip
      X-Original-Content-Length: '1434'
    body:
      encoding: UTF-8
      string: |-
        {
          "total": 20,
          "movies": [
            {
              "id": "14558",
              "title": "Red Shoe Diaries - The Movie",
              "year": 1992,
              "mpaa_rating": "R",
              "runtime": 105,
              "release_dates": {
                "dvd": "2006-05-23"
              },
              "ratings": {
                "critics_score": -1,
                "audience_rating": "Spilled",
                "audience_score": 52
              },
              "synopsis": "",
              "posters": {
                "thumbnail": "http://content7.flixster.com/movie/10/92/98/10929865_mob.jpg",
                "profile": "http://content7.flixster.com/movie/10/92/98/10929865_pro.jpg",
                "detailed": "http://content7.flixster.com/movie/10/92/98/10929865_det.jpg",
                "original": "http://content7.flixster.com/movie/10/92/98/10929865_ori.jpg"
              },
              "abridged_cast": [
                {
                  "name": "David Duchovny",
                  "id": "162661591",
                  "characters": [
                    "Jake"
                  ]
                },
                {
                  "name": "Brigitte Bako",
                  "id": "712251688",
                  "characters": [
                    "Alex"
                  ]
                },
                {
                  "name": "Billy Wirth",
                  "id": "162749471",
                  "characters": [
                    "Workman (Thomas K. Butler)"
                  ]
                },
                {
                  "name": "Rhonda Aldrich",
                  "id": "465972940",
                  "characters": [
                    "Michelle"
                  ]
                },
                {
                  "name": "Sherry Bilsing",
                  "id": "770953665",
                  "characters": [
                    "Passing Woman"
                  ]
                }
              ],
              "links": {
                "self": "http://api.rottentomatoes.com/api/public/v1.0/movies/14558.json",
                "alternate": "http://www.rottentomatoes.com/m/red_shoe_diaries_the_movie/",
                "cast": "http://api.rottentomatoes.com/api/public/v1.0/movies/14558/cast.json",
                "clips": "http://api.rottentomatoes.com/api/public/v1.0/movies/14558/clips.json",
                "reviews": "http://api.rottentomatoes.com/api/public/v1.0/movies/14558/reviews.json",
                "similar": "http://api.rottentomatoes.com/api/public/v1.0/movies/14558/similar.json"
              }
            },
            {
              "id": "770901633",
              "title": "Red Shoe Diaries 2 - Double Dare",
              "year": 1992,
              "mpaa_rating": "R",
              "runtime": 94,
              "release_dates": {
                "dvd": "1993-03-24"
              },
              "ratings": {
                "critics_score": -1,
                "audience_rating": "Upright",
 [...]
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=<TMDB_KEY>&query=The%20Terminator
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Status: 200 OK
      X-Memc: HIT
      X-Memc-Age: '133549'
      X-Memc-Key: /search/movie?include_adult=false&language=en&query=the+terminator
      X-Varnish-Sid: tm-v-p-1100
    body:
      enc[...]
- request:
    method: get
    uri: http://api-public.netflix.com/catalog/titles?expand=synopsis,directors&max_results=5&start_index=0&term=The%20Terminator&v=1.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth oauth_consumer_key="<NETFLIX_KEY>", oauth_nonce="d5b20bcbeaaccdf0f2d4f0e4b623a6e9",
        oauth_signature="9s6Jj71BWfIb%2FJ2ytfkeWb9DnuA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1331391899", oauth_version="1.0"
  respo[...]
- request:
    method: get
    uri: http://api.rottentomatoes.com/api/public/v1.0/movies.json?apikey=<ROTTEN_KEY>&page=1&page_limit=5&q=The%20Terminator
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Language: en-US
      Content-Type: text/javascript;charset=ISO-8859-1
      X-Mashery-Responder: proxylb-p-us-east-1d-07.mashery.com
      X-Original-Content-Encoding: gzip
      X-Original-Content-Length: '1993'
    body:
      encoding: UTF-8
      string: |-
        {
          "total": 20,
          "movies": [
            {
              "id": "770676948",
              "title": "Terminator Salvation",
              "year": 2009,
              "mpaa_rating": "PG-13",
              "runtime": 115,
              "critics_consensus": "With storytelling as robotic as the film's iconic villains, Terminator Salvation offers plenty of great effects but lacks the heart of the original films.",
              "release_dates": {
                "theater": "2009-05-21",
                "dvd": "2009-12-01"
              },
              "ratings": {
                "critics_rating": "Rotten",
                "critics_score": 33,
                "audience_rating": "Upright",
                "audience_score": 64
              },
              "synopsis": "",
              "posters": {
                "thumbnail": "http://content8.flixster.com/movie/10/92/76/10927658_mob.jpg",
                "profile": "http://content8.flixster.com/movie/10/92/76/10927658_pro.jpg",
                "detailed": "http://content8.flixster.com/movie/10/92/76/10927658_det.jpg",
                "or[...]
- request:
    method: get
    uri: http://api.themoviedb.org/3/configuration?api_key=<TMDB_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Status: 200 OK
      X-Varnish-Sid: tm-v-p-1100
    body:
      encoding: UTF-8
      string: |-
        {
          "images": {
            "base_url": "http://cf2.imgobject.com/t/p/",
            "poster_sizes": [
              "w92",
              "w154",
              "w185",
              "w342",
              "w500",
              "original"
            ],
            "backdrop_sizes": [
              "w300",
              "w780",
              "w1280",
              "original"
            ],
            "profile_sizes": [
              "w45",
              "w185",
              "h632",
              "original"
            ]
          }
        }
  recorded_at: Sat, 10 Mar 2012 15:05:38 GMT
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/5234?api_key=<TMDB_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Status: 200 OK
      X-Memc: HIT
      X-Memc-Age: '19424'
      X-Memc-Key: /movie/5234?language=en
      X-Varnish-Sid: tm-v-p-1200
    body:
      encoding: UTF-8
      string: |-
        {
          "adult": false,
          "backdrop_path": null,
          "belongs_to_collection": {
            "id": 5202,
            "name": "Wilde Orchidee",
            "poster_path": null,
            "backdrop_path": null
          },
          "budget": 0,
          "genres": [
            {
              "id": 18,
              "name": "Drama"
            },
            {
              "id": 2916,
              "name": "Erotic"
            }
          ],
          "homepage": "",
          "id": 5234,
          "imdb_id": "tt0105227",
          "original_title": "Red Shoe Diaries",
          "overview": "Trapped by a burning secret. Torn by a blazing desire. He gave her his devoted passion. He offered her a lasting relationship. He promised her a secure future. She thought he was all she ever wanted. Until she met everything she ever desired: the perfect body... on the perfect man... with a perfect opportunity for having a secret affair with a total stranger. Haunted by guilt, she is drawn uncontrollably into the powerful, beckoning arms of illicit lust and feverish obsession. But like a moth lured to the candle, the fire that now controls her could be the flame that one day consumes her.",
          "popularity": 0.013,
          "poster_path": "/fcWaJOQWHOsGfJDDRH5YvtXU1dk.jpg",
          "production_companies": [
            {
              "name": "Republic Pictures",
              "id": 1916
            }
          ],
          "production_countries": [
            {
              "iso_3166_1": "US",
              "name": "United States of America"
            }
          ],
          "release_date": "1992-05-16",
          "revenue": 0,
          "runtime": 103,
          "spoken_languages": [
            {
              "iso_639_1": "en",
              "name": "English"
            }
          ],
          "tagline": "",
          "title": "Red Shoe Diaries",
          "vote_average": 4.0,
          "vote_count": 0
        }
  recorded_at: Wed, 14 Mar 2012 12:11:04 GMT
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/5234/casts?api_key=<TMDB_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Status: 200 OK
      X-Memc: HIT
      X-Memc-Age: '19425'
      X-Memc-Key: /movie/5234/casts?language=en
      X-Varnish-Sid: tm-v-p-1200
    body:
      encoding: UTF-8
      string: |-
        {
          "id": 5234,
          "cast": [
            {
              "id": 14607,
              "name": "Brigitte Bako",
              "character": "Alex",
              "order": 0,
              "profile_path": null
            },
            {
              "id": 42136,
              "name": "Bridgit Ryan",
              "character": "Marlene",
              "order": 1,
              "profile_path": null
            },
            {
              "id": 42144,
              "name": "Evie Sullivan",
              "character": "Gabriella",
              "order": 2,
              "profile_path": null
            },
            {
              "id": 30585,
              "name": "Brenda Vaccaro",
         [...]
- request:
    method: get
    uri: http://api.rottentomatoes.com/api/public/v1.0/movie_alias.json?apikey=<ROTTEN_KEY>&id=0105227&type=imdb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Language: en-US
      Content-Type: text/javascript;charset=ISO-8859-1
      X-Mashery-Responder: proxylb-p-us-east-1d-07.mashery.com
      X-Original-Content-Encoding: gzip
      X-Original-Content-Length: '82'
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "Could not find a movie with the specified id"
        }
  recorded_at: Wed, 14 Mar 2012 12:11:05 GMT
recorded_with: VCR 2.0.0
