@import "compass";

@mixin reset-text {
}

@import "bootstrap/variables";
@import "bootstrap/component-animations";
@import "bootstrap/tooltip";

@include font-face("Open Sans", font-url("OpenSans-Regular-webfont.woff") format("woff"));
@include font-face("Open Sans", font-url("OpenSans-Bold-webfont.woff") format("woff"), false, bold);
@include font-face("Open Sans", font-url("OpenSans-Italic-webfont.woff") format("woff"), false, false, italic);
@include font-face("Open Sans", font-url("OpenSans-Light-webfont.woff") format("woff"), false, 200);

$body-type: "open sans", "bitstream vera sans", helvetica, arial, sans-serif;
$heading-type: $body-type;
$logo-type: "american typewriter", georgia, serif;

$body-color:#02303f;
$default-text-shadow-color:rgba(gray, .3);

$lightblue:#4A8A9F;
$top-color-stop:#DEEAEE;
$bottom-color-stop:#EFF4F6;
$lightblue-border:#CEDFE5;

@mixin link-with-icon {
  text-decoration: none;
  span { text-decoration: underline; }
}
