@import "compass";
@import "bootstrap/variables";
@import "bootstrap/component-animations";
@import "bootstrap/tooltip";

$body-type:geneva, "bitstream vera sans", helvetica, arial, sans-serif;
$heading-type:"american typewriter", georgia, serif;

$body-color:#02303f;
$default-text-shadow-color:rgba(gray, .3);

$lightblue:#4A8A9F;
$top-color-stop:#DEEAEE;
$bottom-color-stop:#EFF4F6;
$lightblue-border:#CEDFE5;

@mixin link-with-icon {
  text-decoration: none;
  span { text-decoration: underline; }
}
