$avatar-size: 25px;
$compare-box-width: 780px / 3;

.compare > article { padding-top:24px;

  h1 { line-height:30px; }
  .person ~ section > h1 { clear:both; font-size:18px; font-weight:normal; line-height:37px; margin-bottom:20px; }
  
  .avatar {
    display: inline-block;
    width: $avatar-size; height: $avatar-size;
    background-size: $avatar-size auto;
    @include border-radius(3px);
  }
  .num {
    font: 900 3em "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: lighten($body-color, 10);
  }
  #in-common { float:right; position:relative; right:34.5%;
    background-color: $bottom-color-stop; @include border-radius(10px); border: 1px solid $lightblue-border;
    font-size:1.1em; text-align:center;
    padding: 1em;
    width: 170px;
    margin: 0 20px;

    h1 { margin-bottom:5px; font-size:13px; }
    .movies .num { font-size:18px }
    .percent {
      text-transform: uppercase;
      color: lighten($body-color, 20);
      .num { display: block }
    }
  }
  .person { width:$compare-box-width; min-height:220px; float:left; text-align:center;
    
    + .person { position:relative; left:34%; }

    > h1, .watched { font-size:1.6em; }
    .name { vertical-align:top }
    .directors { margin-top:1.5em;
      a { text-decoration: none; }
      a:hover { text-decoration: underline; }
      h1 { text-transform:uppercase; font-size:14px; }
      ol { list-style: none; padding: 0; margin: 0; font-size: 1.2em; line-height: 1.6 }
    }
  }
}
