$body-padding:30px;

html {
  // Prevent font scaling in landscape
  -webkit-text-size-adjust: none;
}

body, h1, h2, h3, p { margin:0; padding:0 }

img {
  border: none;
  &.icon { vertical-align: middle; margin-bottom: 4px; }
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display:block;
}

a {
  &:link, &:visited { color:$lightblue }
  &:hover, &:active { /*color:lemonchiffon; */ } }

body {
/*  background-image:url('9_2_grid.png');*/
  color:$body-color; background-color:#fdfdfd;
  font:75%/1.5em $body-type;
  padding:0 $body-padding;
  max-width:780px; margin:0 auto;
}

h1, h2, h3, .movie .plot {
  // http://code.google.com/p/android/issues/detail?id=15067
  text-rendering: optimizeLegibility;
}

h1 { font-weight: normal; @include text-shadow; }
h1 a, h2 a { text-decoration:none;
  &:link, &:visited { color:$body-color; }
}

header h1 a { 
  &:active, &:visited { outline:0 none } }

body > header {
  padding:0 $body-padding; margin:0 (0 - $body-padding);
  height:60px;
  @include border-radius(0 0 3px 3px);

  border:1px solid $lightblue-border;
  background-color: $top-color-stop;
  @include background-image(linear-gradient($top-color-stop, $bottom-color-stop));

  h1 { font:normal 24px/1.5 $logo-type; float:left; }

  nav { font-size:11px; line-height:22px; margin-top:8px;
    
    p { text-align:right; }

    .login {
      a.icon {
        @include link-with-icon;
        img { opacity: .5; @include transition(opacity 0.15s ease-out); }
        span { @include transition(color 0.15s ease-out); }
        &:hover {
          span { color: $body-color; }
          img { opacity: 1; }
        }
      }
    }
  }

  + form { position:absolute; top:31px;
 
    input[type="search"] { font-size:11px; width:190px;
      
      .no-inputsearch & {
        @include box-shadow(rgba(black, .5) 1px 1px 1px 0 inset);
        border:1px solid #ddd;
        @include border-radius(10px);
        padding:.15em 10px .1em; margin-top:2px; width:165px;
      }
      
      &.placeholder { color:gray; }
    }
    
    input[type="submit"] { display:none }
  }
}

.flash {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid silver;
  text-align: center;

  &.warning {
    background: #FFFACD;
    border-color: darken(#FFFACD, 20%);
  }
  &.error {
    background: #CD5C5C;
    border-color: darken(#CD5C5C, 10%);
    color: white;
    @include text-shadow;
  }
  &.notice {
    background: lighten(#90EE90, 20%);
    border-color: lighten(#90EE90, 10%);
  }
}

body > article {
  padding-top:22px;
  header, > h1 { margin-bottom:23px; }
  > h1, > header > h1 {
    font-size: 18px;
    line-height: 1.5;
    border-bottom: 1px solid #e8e8e8;
  }
  > header > h1 {
    margin-bottom: 5px;
  }
}

.about > article { max-width: 48em;
  h1 { margin-bottom:0; }
  section h1 { font: normal 15px/18px $body-type; @include text-shadow; margin:35px 0 11px; }
  p { margin-bottom:10px; padding-top:8px; }
  ul { margin:18px 0 0; }
}

.blue-box {
  border: 1px solid $lightblue-border;
  background-color: $top-color-stop;
  @include background-image(linear-gradient($top-color-stop, $bottom-color-stop));
  @include border-radius(3px);
  
  padding:12px; margin:24px 0 0;
}

.intro {
  @extend .blue-box;
  padding-left:$body-padding; margin-left: -$body-padding; width:472px;

  h1 { font-size:18px; margin-bottom:1em; }
  p + p { margin-top:12px; }
  + p { margin-top:.7em; }
  
  body > article > &:first-child {
    position: relative; top: -2em;
  }
}

.pagination {
  line-height: 1;
  em {
    font-style: normal;
    background: #aaa;
    @include border-radius(10px);
    display: inline-block;
    min-width: 1em;
    text-align: center;
    padding: 3px;
    color: white;
    @include text-shadow;
  }
  a { text-decoration: none; }
  a:hover { text-decoration: none; border-bottom: 1px solid silver; }
}

.error article {
  h1 {
    color: crimson;
    margin-bottom: 1.5em;
  }
}
p.not-found {
  text-transform: uppercase;
  font-size: 90%;
  font-style: italic;
  letter-spacing: .05em;
  display: inline-block;
  background: #eee;
  @include border-radius(8px);
  padding: .2em 1.2em;
  @include text-shadow(rgba(white, .8) 1px 1px 1px);
}

#facebox {
  h1 { font-size: 1.4em; }
  .content > h1 { margin-bottom: 1em; }
  h2 { font-size: 1.1em; }
  .netflix_picker article {
    padding: .5em 0;
    cursor: pointer;
    background: white;
    @include transition(background-color 0.25s);
    &:hover { background:lemonchiffon; }
  }
}

form {
  .field label { display:block; font-weight:bold; margin: .6em 0 .1em; }
  input[type=text], input[type=url] { width: 20em; }
  input[type=number] { width: 6em; }
  .actions { max-width: 20em; margin-top: 1em; padding-top: .5em; border-top: 1px solid silver; }

  #facebox & {
    input[type=text], input[type=url] { width: 98%; }
    .actions { max-width: none; }
  }
}

/* mobile */
@media only screen and (max-device-width:480px) {
  body { font-size:10px/1.5; padding:0 7px;

    > header { height:34px; margin:0 0 30px 0; padding:0 7px;

      nav { font-size:12px;
        p { position:absolute; top:38px;
          &:first-child { right:14px; }
          ~ p { left:14px; }
        }
      }

      + form { top:5px; right:14px;
        input[type="search"] { font-size:12px; width:190px; }
      }

    }
  }

  .intro { width:auto; margin:21px -7px -5px -7px; padding:7px;
    p + p { margin-top:7px; }
  }

  .flash { padding: 4px; font-size: 11px }

  body > article { padding:7px;
    header, > h1 {
      margin-bottom: 20px;
      + .flash { margin-top: -10px; }
    }
    h1 { font-size:15px; line-height:22px; }
  }

  .about > article {
    p { margin-bottom:0; }
    section h1 { margin:20px 0 5px;}
    ul { margin-top:5px; }
  }
}
