$poster-small-width: 92px;
$poster-medium-width: 185px;
$poster-margin: 20px;
$poster-small-height:140px;
$poster-medium-height:274px;
    
em.liked { color: green; }
em.disliked { color: darkred; }
.other-info em { font-style:normal; }

/* movie list */
ol.movies { clear:left; padding-left:0;
  @include no-bullets;
  @include clearfix;

  li { width:370px; min-height:175px; float:left; margin:0 20px 5px 0; }
    
  .movie {
    padding-left: $poster-small-width + $poster-margin;
    
    > a {
      &:active, &:visited { outline:0 none }
    }
  
    h1, h2 { letter-spacing:.01em }
    h1 { font-size:18px; line-height:24px; }
    h2 { margin-bottom:2px; }
    h2, .year { font-size:15px; line-height:21px; }

    .poster {
      display:block;
      margin-left:-($poster-small-width + $poster-margin); margin-top:4px;
      float:left;
    }
  }
}

.movie {
  @include clearfix;
  
  h1, .year, hgroup { margin:0; font-family:$heading-type; }
  h2 { font-weight:normal; font-style:italic; }
  .year { color:darken($lightblue, 5); font-style:normal; }
  
  .poster { border:1px solid #777; }
  span.poster {
    width:$poster-small-width; height:$poster-small-height;
    background: #999;
    @include background-image(radial-gradient(top left, rgba(white, .5), rgba(white, 0) 150px));
  }
  
  .actions, .friends { font-size:11px; }

  .actions {
    margin-top:1em;
    
    p { padding:2px 0 3px; }
    
    .button_to {
      display:inline-block;
      
      input[type=submit] {
        cursor: pointer;
        display:inline-block; color:#333;
        background-color:#e5e5e5; @include background-image(linear-gradient(rgba(white, .6), rgba(white, 0)));
        border:1px solid #ddd; @include border-radius;

        height:18px; line-height:16px;
        margin:0 0 5px; padding:0 4px 2px;
        
        &:hover { color:#fdfdfd; border-color:$body-color; background:$body-color }
        
        &.to-watch, &.watched { width:100px; }
        
        &[disabled] { background-color: #ccc; color: #666; }
      }
    }
    
    p.watched, p.to-watch {
      color:gray; font-style:italic;
      display:inline-block;
      
      + a.revert { padding:0 5px; }
    }
    a.revert { 
      color:#ccc; text-decoration:none;
      
      &:hover { color:firebrick; }
    }
    
    .no-js & {
      .add-watched { display: none; }
      .question a[href="#cancel"] { display: none; }
    }
    .js & {
      .question {
        display: none;
        opacity: 0;
        background-color: white;
        a[href="#cancel"] { text-decoration: underline; color: $lightblue; }
      }
      &.asking {
        .primary { display: none; opacity: 0; }
        .question { display: block; opacity: 1; }
      }
    }
  }
}

/* movie details */
.movie-show .movie { margin-top:1.3em; padding-left: $poster-medium-width + $poster-margin;
  
  .poster { display:block; float:left; margin:.6em 0 1.2em (0 - $poster-medium-width - $poster-margin);
    
    + p {
      float: left; clear: left;
      margin-left: -($poster-medium-width + $poster-margin);
      width: $poster-medium-width;
    }
  }
  span.poster { width:$poster-medium-width; height:$poster-medium-height; }

  .actions { margin-top:1.3em; }

  h1 { font-size:28px; line-height:34px; margin-bottom:3px; }
  h2, .year { font-size:18px; line-height:27px; margin-bottom:2px; }

  header { float:none; }
    
  .runtime {
    margin-top:6px;
    padding:.2em .4em .1em .3em;
    line-height:16px;
    @include border-radius;
    border: 1px solid rgba($lightblue, .5);
    color: darken($lightblue, 5);
    vertical-align: top;
  }
  .directors {
    margin-top:12px;
    strong { font-size:1.2em; font-weight:normal; @include text-shadow }
    a { text-decoration:none; color:$body-color; }
    a:hover { text-decoration: underline; }
  }
  .countries, .runtime { display:inline-block; }
  .countries, .directors { font-size:12px; }
  .countries { margin:9px 6px 0 0; }
  
  /* special cases */
  .year + .countries, .year + .countries + .runtime, .year + .runtime { margin-top:0; }
  .directors + .runtime { margin-left:0; }
  
  .plot { margin:30px 0 1.5em; text-align:justify; }
  
  .friends { font-style:italic; margin-top:1em; }
  
  .admin {
    max-width: 50em;
    margin-top: 1.5em;
    border-top: 1px solid #ddd;
    padding-top: .5em;
    color: #666;
    a { color: inherit; }
    line-height: 1.6;
  }
}

.movie-raw pre {
  font-size: 12px
}

/* mobile */
@media only screen and (max-device-width:480px) {
  ol.movies {
    li { min-height:0; width:100%; float:none; margin-right:0; margin-bottom:20px; }

    .movie { padding-left:$poster-small-width / 2 + 14px;

      h1 { font-size:16px; margin:0 0 4px; }
      h2 { margin-bottom:3px; line-height:1.3; }
      h1, .year { line-height:1.2 }
      h2, .year { font-size:14px; }

      // 4px hack is to bring poster in top alignment with title
      .poster, span.poster { width:$poster-small-width / 2; margin-top: 4px; }
      span.poster { height:$poster-small-height / 2; }
      .actions { margin-top:5px; }
      .poster { margin-left:-($poster-small-width / 2 + 14px); }
    }
  }

  .movie {
    .actions, .friends { font-size:12px; }
  }

  .movie-show .movie { padding-left:7px;

    header { margin:0 0 14px; padding-left:$poster-medium-width / 2 + 14px; }
    h1 { font-size:18px; line-height:22px; margin-bottom:3px;}
    h2 { line-height:20px; margin-bottom:3px; }
    .year { line-height:18px; }
    h2, .year { font-size:15px; }

    .directors { margin-top:5px; line-height:18px;
      strong { font-size:13px;}
    }
    .countries { margin:5px 0 -2px;}
    .runtime { margin-top:3px; }

    // 4px hack is to bring poster in top alignment with title
    .poster { margin:4px 10px 10px 0; }
    .poster, span.poster { width:$poster-medium-width / 2; }
    span.poster { height:$poster-medium-height / 2; }

    .plot, .elsewhere { clear:left; }
    .plot { margin-bottom:10px; }
    .actions { margin-top:7px; }
  }
}
