---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=<TMDB_KEY>&query=star%20wars
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Status: 200 OK
      X-Memc: HIT
      X-Memc-Age: '91926'
      X-Memc-Key: "/search/movie?include_adult=false&language=en&query=star+wars"
      X-Varnish-Sid: tm-v-p-1200
    body:
      encoding: UTF-8
      string: |-
        {
          "page": 1,
          "results": [
            {
              "backdrop_path": "/vB8f8PXd2RO1iKebY8V11gEfztu.jpg",
              "id": 1893,
              "original_title": "Star Wars: Episode I - The Phantom Menace",
              "release_date": "1999-05-19",
              "popularity": 17499.769,
              "poster_path": "/n8V09dDc02KsSN6Q4hC2BX6hN8X.jpg",
              "title": "Star Wars: Episode I - The Phantom Menace"
            },
            {
              "backdrop_path": "/AkE7LQs2hPMG5tpWYcum847Knre.jpg",
              "id": 1891,
              "original_title": "Star Wars: Episode V - The Empire Strikes Back",
              "release_date": "1980-05-21",
              "popularity": 16965.285,
              "poster_path": "/6u1fYtxG5eqjhtCPDx04pJphQRW.jpg",
              "title": "Star Wars: Episode V - The Empire Strikes Back"
            },
            {
  [...]
- request:
    method: get
    uri: http://api-public.netflix.com/catalog/titles?expand=synopsis,directors&max_results=5&start_index=0&term=star%20wars&v=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: OAuth oauth_consumer_key="<NETFLIX_KEY>", oauth_nonce="9620c271889736c9f180cada17e016d1",
        oauth_signature="HIlJn%2BClJJ7Up1FdpLX8aBgfjsk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1331670303", oauth_version="1.0"
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/xml;charset=UTF-8
      Etag: '"0"'
      X-Mashery-Responder: proxylb-p-us-east-1c-04.mashery.com
      X-Netflix.client.instance: i-97f17ff3
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" standalone="yes"?>
        <catalog_titles>
          <link href="http://api.netflix.com/catalog/titles/index" rel="http://schemas.netflix.com/catalog/titles/index" title="index"/>
          <link href="http://api.netflix.com/catalog/titles/autocomplete" rel="http://schemas.netflix.com/catalog/titles/autocomplete" title="autocomplete"/>
          <url_template>http://api.netflix.com/catalog/titles?{-join|&amp;|term|start_index|max_results}</url_template>
          <number_of_results>23297</number_of_results>
          <start_index>0</start_index>
          <results_per_page>5</results_per_page>
          <catalog_title>
            <id>http://api.netflix.com/catalog/titles/movies/60010932</id><title short="Star Wars: Episode IV: A New Hope" regular="Star Wars: Episode IV: A New Hope"/>
        <box_art small="http://cdn-2.nflximg.com/en_us/boxshots/tiny/60010932.jpg" medium="http://cdn-2.nflximg.com/en_us/boxshots/small/60010932.jpg" large="http://cdn-2.nflximg.com/en_us/boxshots/large/60010932.jpg"/>
        <link href="http://api.netflix.com/catalog/titles/movies/60010932/synopsis" rel="http://schemas.netflix.com/catalog/titles/synopsis" title="synopsis"><synopsis><![CDATA[Obi-Wan Kenobi (Alec Guinness) guides intrepid Luke Skywalker (Mark Hamill) on a valiant bid to save the captured Princess Leia (Carrie Fisher) from Darth Vader (voiced by James Earl Jones). With his trusty droids and smuggler Han Solo (Harrison Ford), Skywalker must also destroy the Galactic Empire's all-powerful weapon: the Death Star. George Lucas cemented his status as a pop-culture legend with this classic battle between good and evil.]]></synopsis></link>
        <link href="http://api.netflix.com/catalog/titles/movies/60010932/bonus_materials" rel="http://schemas.netflix.com/catalog/titles/bonus_materials" title="bonus materials"/>
        <release_year>1977</release_year>
        <category scheme="http://api.netflix.com/categories/mpaa_ratings" label="PG" term="PG"/>
        <category scheme="http://api.netflix.com/categories/genres" label="Children &amp; Family Movies" term="Children &amp; Family Movies"/>
        <category scheme="http://api.netflix.com/categories/genres" label="Sci-Fi &amp; Fantasy" term="Sci-Fi &amp; Fantasy"/>
        <category scheme="http://api.netflix.com/categories/genres" label="Action Sci-Fi &amp; Fantasy" term="Action Sci-Fi &amp; Fantasy"/>
        <category scheme="http://api.netflix.com/categories/genres" label="Sci-Fi Adventure" term="Sci-Fi Adventure"/>
        <category scheme="http://api.netflix.com/categories/genres" label="Family Sci-Fi &amp; Fantasy" term="Family Sci-Fi &amp; Fantasy"/>
        <runtime>7500</runtime>
        <link href="http://api.netflix.com/catalog/titles/movies/60010932/awards" rel="http://schemas.netflix.com/catalog/titles/awards" title="awards"/>
        <link href="http://api.netflix.com/catalog/titles/movies/60010932/format_availability" rel="http://schemas.netflix.com/catalog/titles/format_availability" title="formats"/>
        <link href="http://api.netflix.com/catalog/titles/movies/60010932/screen_formats" rel="http://schemas.netflix.com/catalog/titles/screen_formats" title="screen formats"/>
        <link href="http://api.netflix.com/catalog/titles/movies/60010932/cast" rel="http://schemas.netflix.com/catalog/people.cast" title="cast"/>
        <link href="http://api.netflix.com/catalog/titles/movies/60010932/directors" rel="http://schemas.netflix.com/catalog/people.directors" title="directors"><people><link href="http://api.netflix.com/catalog/people/56779" rel="http://schemas.netflix.com/catalog/person" title="George Lucas"/></people></link>
        <link href="http://api.netflix.com/catalog/titles/movies/60010932/languages_and_audio" rel="http://schemas.netflix.com/catalog/titles/languages_and_audio" title="languages and audio"/>
        <average_rating>4.3</average_rating>
        <link href="http://api.netflix.com/catalog/titles/movies/60010932/similars" rel="http://schemas.netflix.com/catalog/titles.similars" title="similars"/>
        <link href="http://www.netflix.com/Movie/Star_Wars_Episode_IV_A_New_Hope/60010932" rel="alternate" title="web page"/>

          </catalog_title>
          <catalog_title>
            <id>http://api.netflix.com/catalog/titles/movies/70003791</id><title short="Star Wars: Episode I: The Phantom Menace" regular="[...]
- request:
    method: get
    uri: http://api.themoviedb.org/3/configuration?api_key=<TMDB_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=utf-8
      Status: 200 OK
      X-Varnish-Sid: tm-v-p-1100
    body:
      encoding: UTF-8
      string: |-
        {
          "images": {
            "base_url": "http://cf2.imgobject.com/t/p/",
            "poster_sizes": [
              "w92",
              "w154",
              "w185",
              "w342",
              "w500",
              "original"
            ],
            "backdrop_sizes": [
              "w300",
              "w780",
              "w1280",
              "original"
            ],
            "profile_sizes": [
              "w45",
              "w185",
              "h632",
              "original"
            ]
          }
        }
  recorded_at: Tue, 13 Mar 2012 20:25:06 GMT
- request:
    method: get
    uri: https://www.rottentomatoes.com/api/private/v1.0/search?page=1&q=star%20wars&t=movie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json;charset=ISO-8859-1
      Content-Language: en-US
      X-Content-Security-Policy: frame-ancestors 'self' rottentomatoes.com *.rottentomatoes.com
        ;
    body:
      encoding: UTF-8
      string: |-
        {
          "pageCount": 2,
          "totalCount": 50,
          "movies": [
            {
              "castItems": [
                {
                  "name": "Ewan McGregor",
                  "url": "/celebrity/ewan_mcgregor/"
                },
                {
                  "name": "Natalie Portman",
                  "url": "/celebrity/natalie_portman/"
                },
                {
                  "name": "Hayden Christensen",
                  "url": "/celebrity/hayden_christensen/"
                }
              ],
              "posterImage": "https://resizing.flixster.com/TlgMbTVTC0436I0JmTHwfTX0QEk=/120x178/v1.bTsxMjMwMzAzODtqOzE3ODIwOzIwNDg7NDgwOzcxMQ",
              "name": "Star Wars: Episode III - Revenge of the Sith",
              "meterClass": "certified",
              "image": "https://resizing.flixster.com/W8OwUXzrc-8g768HS4hiwznUgqk=/54x80/v1.bTsxMjMwMzAzODtqOzE3ODIwOzIwNDg7NDgwOzcxMQ",
              "subline": "Ewan McGregor, Natalie Portman, Hayden Christensen",
              "year": 2005,
              "meterScore": 79,
              "url": "/m/star_wars_episode_iii_revenge_of_the_sith"
            },
            {
              "castItems": [
                {
                  "name": "Alden Ehrenreich",
                  "url": "/celebrity/alden-ehrenreich/"
                },
                {
                  "name": "Joonas Suotamo",
                  "url": "/celebrity/joonas_suotamo/"
                },
                {
                  "name": "Woody Harrelson",
                  "url": "/celeb[...]
